.HImg{
    width:100%;
    height:auto;
    vertical-align: middle;
    background-size:cover;
    margin:2px;

}
.about{
    background-image: url('./../../../images/about-us-page-heading.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:70vh;
}