.card-item{
    border:1px solid rgb(161, 161, 161);
    border-radius:5px;
    padding:5px;
}
.card-header{
    padding:5px;
}
.card-img{
    padding:5px;
}
.img{ 
    width:100%;
    height:auto;
}
.card-header h5{
    font-weight: 900;
}